<div class="card">
    <div class="card-header border-transparent">
      <h3 class="card-title">Customers</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
          <tr>
            <th>Nama</th>
            <th>Alamat</th>
            <th>Telepon</th>
            <th>KTP</th>
            <th>NPWP</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of customers">
            <td><a href="#">{{ row.nama }}</a></td>
            <td>{{ row.alamat }}</td>
            <td>{{ row.telp }}</td>
            <td>{{ row.ktp }}</td>
            <td>{{ row.npwp }}</td>
            <td>
                <a href="javascript:void(0)" class="badge badge-info" (click)="editData(row)" data-toggle="modal" data-target="#editModal">edit</a>&nbsp;
                <a href="javascript:void(0)" class="badge badge-danger" (click)="editData(row)" data-toggle="modal" data-target="#deleteModal">delete</a>&nbsp;
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
      <a href="javascript:void(0)" class="btn btn-sm btn-success float-right" data-toggle="modal" data-target="#insertModal" (click)="resetForm()">Add Customer</a>
    </div>
    <!-- /.card-footer -->
  </div>


<!-- Insert Modal -->
  <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Customer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form #insertForm="ngForm">
            <input id="id" [ngModel]="customer.id" type="hidden" name="id">
          <div class="form-group">
              <label for="nama">Nama</label>
              <div class="input-group">
                  <input id="nama" [ngModel]="customer.nama" class="form-control" name="nama">
              </div>
          </div>
          <div class="form-group">
              <label for="telp">Telpon</label>
              <div class="input-group">
                  <input id="telp" [ngModel]="customer.telp" class="form-control" name="telp">
              </div>
          </div>
          <div class="form-group">
              <label for="ktp">KTP</label>
              <div class="input-group">
                  <input id="ktp" [ngModel]="customer.ktp" class="form-control" name="ktp">
              </div>
          </div>
          <div class="form-group">
              <label for="npwp">NPWP</label>
              <div class="input-group">
                  <input id="npwp" [ngModel]="customer.npwp" class="form-control" name="npwp">
              </div>
          </div>
          <div class="form-group">
              <label for="alamat">Alamat</label>
              <div class="input-group">
                  <textarea class="form-control" id="alamat" [ngModel]="customer.alamat" rows="3" name="alamat"></textarea>
              </div>
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="insertData(insertForm.value)">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Customer</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
                <input id="id" [ngModel]="customer.id" type="hidden" name="id">
              <div class="form-group">
                  <label for="nama">Nama</label>
                  <div class="input-group">
                      <input id="nama" [ngModel]="customer.nama" class="form-control" name="nama">
                  </div>
              </div>
              <div class="form-group">
                  <label for="telp">Telpon</label>
                  <div class="input-group">
                      <input id="telp" [ngModel]="customer.telp" class="form-control" name="telp">
                  </div>
              </div>
              <div class="form-group">
                  <label for="ktp">KTP</label>
                  <div class="input-group">
                      <input id="ktp" [ngModel]="customer.ktp" class="form-control" name="ktp">
                  </div>
              </div>
              <div class="form-group">
                  <label for="npwp">NPWP</label>
                  <div class="input-group">
                      <input id="npwp" [ngModel]="customer.npwp" class="form-control" name="npwp">
                  </div>
              </div>
              <div class="form-group">
                  <label for="alamat">Alamat</label>
                  <div class="input-group">
                      <textarea class="form-control" id="alamat" [ngModel]="customer.alamat" rows="3" name="alamat"></textarea>
                  </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="updateData(editForm.value)">Update</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Customer</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <form #deleteForm="ngForm">
                <input id="id" [ngModel]="customer.id" type="hidden" name="id">
                <p>Are you sure want to delete this record ?</p>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="deleteData(deleteForm.value.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>