<div class="card">
    <div class="card-header border-transparent">
      <h3 class="card-title">Order</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>